*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #3b5998;
}
.container-nav{
    width: 100%;
    height: 56px;
    box-shadow: 1px 1px 6px #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b5998;
    position: fixed;
    top: 0;
    left: 0;
}

.container-nav img{
    width: 140px;
    background: #3b5998;
}
/* main */
main{
    background-color: #3b5998;
    padding-top: 100px;
}
.container-main{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
}

.container-main h1{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-align: center;
    margin: 0 0 30px;
}

.container-main p{
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}
.container-main_div-items{
    width: 100%;
    height: auto;
}
.container-main_div-items div{
    color: #fff;
    width: 100%;
    border: 1px solid bisque;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.container-main_div-items input{
    width: 17px;
    height: 17px;
    
}

.container-main_div-items span{
    padding-left: 10px;
}